.movieDiv{
    width:250px;
    border:none;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
    padding-bottom: 10px;
}

.movieDiv:hover{
    cursor: pointer;
    padding-left:24px;
    padding-right:24px;
    padding-top:14px;
    padding-bottom: 9px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px 2px #f8f8f8;
}